* {
  font-family: 'Roboto', sans-serif;
}

.main {
  background: url(images/main.jpg) no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}

.fa-wifi {
  transform: rotate(40deg);
}

.fa-phone {
  transform: rotate(90deg);
}

.bg-main {
  background-color: #d45749;
}

.rounded-circle {
  width: 250px;
  height: 250px;
}
