* {
  font-family: 'Roboto', sans-serif;
}

.main {
  background: url(images/main.jpg) no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}

.fa-wifi {
  transform: rotate(40deg);
}

.fa-phone {
  transform: rotate(90deg);
}

.bg-main {
  background-color: #d45749;
}

.main-text {
  color: #d45749;
}

.map {
  background-color: #e17f65;
}

.map-text {
  color: #e17f65;
}

.famous {
  background-color: #99a5a6;
}

.famous-text,
.bg-social .fab {
  color: #99a5a6;
}

.anytime {
  background-color: #519cd7;
}

.rounded-circle {
  width: 250px;
  height: 250px;
}

.main-search {
  opacity: 0.9;
}

.steps .fas {
  font-size: 7rem;
}

.bg-footer {
  background-color: black;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.bg-social {
  background-color: #313131;
}

.bg-social .fab {
  font-size: 1.5rem;
}

.filter {
  background-color: #eee;
}

.filter-search {
  background-color: #457db4;
}

.filter-clear {
  background-color: #e6ac5b;
}
